.item-image {
  max-width: 160px;
  max-height: 160px;
  padding: 16px;
}

.price {
  padding-bottom: 32px;
}

.price span {
  font-size: 20px;
  margin: 0;
  display: inline-block;
}

.price a {
  text-decoration: none;
  color: #333;
}

.address {
  position: absolute;
  right: 90px;
  top: 40px;
  color: #666;
  font-size: 12px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 50px 0 0;
  font-size: 18px;
}

.quantity {
  font-size: 16px;
}

.free_shipping {
  padding: 5px 0 0 10px;
  vertical-align: top;
}
