////////////////////////////////////////////////////////////////////////////////
// Colors Variables
////////////////////////////////////////////////////////////////////////////////

$primary_color: #ffe600;
$lighten_gray: #eee;
$default-text: #666;

////////////////////////////////////////////////////////////////////////////////
// Paddings
////////////////////////////////////////////////////////////////////////////////

$default_padding: 16px;
$extend_padding: $default_padding * 2;

////////////////////////////////////////////////////////////////////////////////
// Header Variables
////////////////////////////////////////////////////////////////////////////////

$logo_real_height: 72px;
$logo_real_width: 106px;

$logo_padding_top_and_bottom: 10px;
$logo_padding_right: $extend_padding;

$logo_header_height: 40px;
$logo_header_width: (($logo_header_height * $logo_real_width) / $logo_real_height) + $logo_padding_right;

////////////////////////////////////////////////////////////////////////////////
// Container Variables
////////////////////////////////////////////////////////////////////////////////

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 1200px;

////////////////////////////////////////////////////////////////////////////////
// Container Responsive
////////////////////////////////////////////////////////////////////////////////

.container {
  display: grid;
  grid-template-columns: $default_padding repeat(10, 1fr) $default_padding;
  width: 100%;
  max-width: $sm-breakpoint;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $md-breakpoint) {
    max-width: $md-breakpoint;
  }

  @media (min-width: $lg-breakpoint) {
    max-width: $lg-breakpoint;
  }
}
